<div style="text-align:left">
<img src="https://about.gitlab.com/images/press/logo/png/gitlab-icon-rgb.png" height="25" style="border:0px"> <a href="https://gitlab.com/ana-borges/QRC1-Coq">View the project on GitLab</a> <img src="https://about.gitlab.com/images/press/logo/png/gitlab-icon-rgb.png" height="25" style="border:0px">
</div>
<h2 id="about">About</h2>
<p>Welcome to the Coq formalization of QRC<sub>1</sub> project website!</p>
<p>This library defines the language, calculus and Kripke semantics of QRC<sub>1</sub>. There is a proof of Kripke soundness and an ongoing proof of completeness.</p>
<p>This is an open source project, licensed under the Mozilla Public License 2.0.</p>
<h2 id="get-the-code">Get the code</h2>
<p>The current stable release of Coq formalization of QRC<sub>1</sub> can be <a href="https://gitlab.com/ana-borges/QRC1-Coq/-/releases">downloaded from GitLab</a>.</p>
<h2 id="documentation">Documentation</h2>
<p>The coqdoc presentation of the source files can be browsed <a href="toc.html">here</a></p>
<p>Related publications, if any, are listed below.</p>
<ul>
<li><a href="https://arxiv.org/pdf/2003.13651.pdf">Quantified Reflection Calculus with one modality</a></li>
<li><a href="https://arxiv.org/pdf/2102.13091.pdf">An Escape from Vardanyan’s Theorem</a></li>
</ul>
<h2 id="help-and-contact">Help and contact</h2>
<ul>
<li>Report issues on <a href="https://gitlab.com/ana-borges/QRC1-Coq/issues">GitLab</a></li>
</ul>
<h2 id="authors-and-contributors">Authors and contributors</h2>
<ul>
<li>Ana de Almeida Borges</li>
</ul>
