    <style type="text/css"> body {font-family: Arial, Helvetica; margin-left: 5em; font-size: large;} </style>
    <style type="text/css"> h1 {margin-left: 0em; padding: 0px; text-align: center} </style>
    <style type="text/css"> h2 {margin-left: 0em; padding: 0px; color: #580909} </style>
    <style type="text/css"> h3 {margin-left: 1em; padding: 0px; color: #C05001;} </style>
    <style type="text/css"> body { width: 1100px; margin-left: 30px; }</style>

<div style="text-align:left"><img src="https://about.gitlab.com/images/press/logo/png/gitlab-icon-rgb.png" height="25" style="border:0px">
<a href="https://gitlab.com/ana-borges/QRC1-Coq">View the project on GitLab</a>
<img src="https://about.gitlab.com/images/press/logo/png/gitlab-icon-rgb.png" height="25" style="border:0px"></div>

<h2>About</h2>

Welcome to the Coq formalization of QRC<sub>1</sub> project website!
<br>
This library defines the language and calculus of QRC<sub>1</sub>, the Kripke
semantics, and includes a proof of Kripke soundness.
<br>
This is an open source project, licensed under the Mozilla Public License 2.0.

<h2>Get the code</h2>

The current stable release of Coq formalization of QRC<sub>1</sub> can be
<a href="https://gitlab.com/ana-borges/QRC1-Coq/releases">downloaded from GitLab</a>.

<h2>Documentation</h2>

Browse the <a href="https://ana-borges.gitlab.io/QRC1-Coq/toc.html">documentation</a>.

Related publications are listed below.

<ul>
    <li><a href="https://arxiv.org/pdf/2003.13651.pdf">Quantified Reflection Calculus with one modality</a></li>
    <li><a href="https://arxiv.org/pdf/2102.13091.pdf">An Escape from Vardanyan's Theorem</a></li>
</ul>

<h2>Help and contact</h2>

Report issues on <a href="https://gitlab.com/ana-borges/QRC1-Coq/issues">GitLab</a>

<h2>Authors and contributors</h2>

Ana de Almeida Borges
